.zoom {
    padding: 50px;
    background-color:white;
    transition: transform .2s; /* Animation */
    width: auto;
    height: auto;
    margin: 0 auto;
  }
  
  .zoom:hover { 
    transform: scale(1.4);
  }